<a href="https://colab.research.google.com/github/Dilshodbek23/Data-Science-and-Artificial-Intelligence/blob/main/03_pandas_final_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# DATA SCIENCE AND ARTIFICIAL INTELLIGENCE PRACTICUM

## Data analysis. Pandas Library.

### PANDAS. final-assignment. **part 1**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv", index_col=0)

### TASK 1. Rename the DF columns above to the following values and subtract 3 countries from the top of the DF.
`['country', 'density_km', 'density_milele', 'populationation', 'area

In [4]:
# Write your answer here=['country','density_km','density_mile','population','area']
df.head(3)

        country  density_km  density_mile  population  area
rank
1         Macau  21946.4667    56841.3487     658.394    30
2        Monaco  19755.5000    51166.7450      39.511     2
3     Singapore   8305.1915    21510.4461    5896.686   710

In [5]:
#@title The correct answer
df.columns = ['country','density_km','density_mile','population','area']
df.head(3)

        country  density_km  density_mile  population  area
rank
1         Macau  21946.4667    56841.3487     658.394    30
2        Monaco  19755.5000    51166.7450      39.511     2
3     Singapore   8305.1915    21510.4461    5896.686   710

## The table above shows the ranking of the world's countries in terms of population density. 
The DF index is the country's population density rating (the most densely populated countries are above).

**Columns:**

`country` - country name

`density_km` - per 1 sq. km. population

`density_mile` - population per 1 sq. mile (mile - US unit of distance)

`population` - Population by 2021 (thousand)

`area` - country area (sq.km)

### TASK 2. Show 10 rows from the end of the DF.

In [6]:
df.head()

        country  density_km  density_mile  population  area
rank
1         Macau  21946.4667    56841.3487     658.394    30
2        Monaco  19755.5000    51166.7450      39.511     2
3     Singapore   8305.1915    21510.4461    5896.686   710
4     Hong Kong   6841.3134    17719.0017    7552.810  1104
5     Gibraltar   5616.3333    14546.3033      33.698     6

In [7]:
# Write your answer here
df.tail(10)

               country  density_km  density_mile  population     area
rank
223             Guyana      3.6765        9.5220     790.326   214969
224      French Guiana      3.6685        9.5015     306.448    83534
225           Suriname      3.6125        9.3564     591.800   163820
226          Australia      3.3526        8.6832   25788.215  7692024
227            Iceland      3.3335        8.6338     343.353   103000
228            Namibia      3.1338        8.1166    2587.344   825615
229     Western Sahara      2.3003        5.9577     611.875   266000
230           Mongolia      2.1286        5.5129    3329.289  1564110
231   Falkland Islands      0.2902        0.7517       3.533    12173
232          Greenland      0.0263        0.0680      56.877  2166086

### TASK 3. Subtract the countries in indices 10, 20, 100, 200 from the DF in a separate DF view.

In [8]:
# Write your answer here
df.loc[[10,20,100,200]]

          country  density_km  density_mile  population    area
rank
10        Bermuda   1149.8148     2978.0204      62.090      54
20          Aruba    595.5778     1542.5464     107.204     180
100      Slovakia    111.3592      288.4203    5460.721   49037
200   New Zealand     17.9713       46.5457    4860.643  270467

### TASK 4. Check whether there are Uzbekistan, Hong Kong and Antartica among the countries

In [9]:
# Write your answer here
obj=['Uzbekistan','Hong-Kong','Antartica']
m=df['country'].isin(obj)
df[m]

         country  density_km  density_mile  population    area
rank
133   Uzbekistan     75.8511      196.4542   33935.763  447400

In [10]:
df.loc[df['country'] == 'Antartica']

Empty DataFrame
Columns: [country, density_km, density_mile, population, area]
Index: []

### TASK 5.
#### 5.1 Mark the DF column named `country` as its index. 
#### 5.2 Drop the `country` column.
#### 5.3 Sort the DF by country name

In [11]:
# Write your answer here
ind=df.set_index('country')
p=ind.sort_index()
p

                   density_km  density_mile  population     area
country
Afghanistan           61.0757      158.1862   39835.428   652230
Albania               99.9351      258.8318    2872.933    28748
Algeria               18.7328       48.5179   44616.624  2381741
American Samoa       276.8844      717.1307      55.100      199
Andorra              165.2885      428.0971      77.355      468
...                       ...           ...         ...      ...
Wallis and Futuna     78.1268      202.3483      11.094      142
Western Sahara         2.3003        5.9577     611.875   266000
Yemen                 57.7509      149.5749   30490.640   527968
Zambia                25.1400       65.1125   18920.651   752612
Zimbabwe              38.6229      100.0333   15092.171   390757

[232 rows x 4 columns]

In [14]:
#@title Expected result

In [15]:
ind

                  density_km  density_mile  population     area
country
Macau             21946.4667    56841.3487     658.394       30
Monaco            19755.5000    51166.7450      39.511        2
Singapore          8305.1915    21510.4461    5896.686      710
Hong Kong          6841.3134    17719.0017    7552.810     1104
Gibraltar          5616.3333    14546.3033      33.698        6
...                      ...           ...         ...      ...
Namibia               3.1338        8.1166    2587.344   825615
Western Sahara        2.3003        5.9577     611.875   266000
Mongolia              2.1286        5.5129    3329.289  1564110
Falkland Islands      0.2902        0.7517       3.533    12173
Greenland             0.0263        0.0680      56.877  2166086

[232 rows x 4 columns]

### PROBLEM 6. Output as a separate DF the columns "population" and "territory" of the countries "Uzbekistan", "Malaysia", "South Korea", "France".

In [16]:
# Write your answer here
ind.loc[['Uzbekistan','Malaysia','South Korea','France'],['population','area']]

             population    area
country
Uzbekistan    33935.763  447400
Malaysia      32776.194  330803
South Korea   51305.186  100210
France        65426.179  551695

In [17]:
r=ind.loc[['Uzbekistan','Malaysia','South Korea','France'],['population','area']]
r.sort_values('population', ascending=False)

             population    area
country
France        65426.179  551695
South Korea   51305.186  100210
Uzbekistan    33935.763  447400
Malaysia      32776.194  330803

### TASK 7. Multiply the values of the `population` column of the original DF by 1000.

In [18]:
# Write your answer here
p['population'] = 1000 * p['population']
p

                   density_km  density_mile  population     area
country
Afghanistan           61.0757      158.1862  39835428.0   652230
Albania               99.9351      258.8318   2872933.0    28748
Algeria               18.7328       48.5179  44616624.0  2381741
American Samoa       276.8844      717.1307     55100.0      199
Andorra              165.2885      428.0971     77355.0      468
...                       ...           ...         ...      ...
Wallis and Futuna     78.1268      202.3483     11094.0      142
Western Sahara         2.3003        5.9577    611875.0   266000
Yemen                 57.7509      149.5749  30490640.0   527968
Zambia                25.1400       65.1125  18920651.0   752612
Zimbabwe              38.6229      100.0333  15092171.0   390757

[232 rows x 4 columns]

In [19]:
#@title Expected result

### Place DF in descending order in the Population column and subtract the 10 countries with the smallest populations.

In [20]:
# Write your answer here
p.sort_values(by='population', ascending=False).tail(10)

                           density_km  density_mile  population   area
country
Tuvalu                       458.8846     1188.5112     11931.0     26
Wallis and Futuna             78.1268      202.3483     11094.0    142
Nauru                        517.9048     1341.3733     10876.0     21
Saint Barthelemy             471.7619     1221.8633      9907.0     21
Saint Pierre and Miquelon     23.8264       61.7105      5766.0    242
Montserrat                    48.7941      126.3768      4977.0    102
Falkland Islands               0.2902        0.7517      3533.0  12173
Niue                           6.2269       16.1277      1619.0    260
Tokelau                      114.4167      296.3392      1373.0     12
Vatican City                 800.0000     2072.0000       800.0      1

### 8-TASK. Rate the DF by "area" and enter the new column "rank".

In [21]:
# Write your answer here
p['rank']=p['area'].rank()
p

                   density_km  density_mile  population     area   rank
country
Afghanistan           61.0757      158.1862  39835428.0   652230  192.0
Albania               99.9351      258.8318   2872933.0    28748   89.0
Algeria               18.7328       48.5179  44616624.0  2381741  223.0
American Samoa       276.8844      717.1307     55100.0      199   20.0
Andorra              165.2885      428.0971     77355.0      468   38.0
...                       ...           ...         ...      ...    ...
Wallis and Futuna     78.1268      202.3483     11094.0      142   15.0
Western Sahara         2.3003        5.9577    611875.0   266000  155.0
Yemen                 57.7509      149.5749  30490640.0   527968  183.0
Zambia                25.1400       65.1125  18920651.0   752612  194.0
Zimbabwe              38.6229      100.0333  15092171.0   390757  172.0

[232 rows x 5 columns]

#### Show the countries `Uzbekistan`,` Great Britain`, `Indonesia` in a separate df format

In [24]:
df3=p.loc[['Uzbekistan','United Kingdom','Indonesia']]
df3

                density_km  density_mile   population     area   rank
country
Uzbekistan         75.8511      196.4542   33935763.0   447400  176.0
United Kingdom    280.8033      727.2805   68207116.0   242900  153.0
Indonesia         145.1046      375.8210  276361783.0  1904569  218.0

### TASK 9. Sort the DF by `country`.

In [26]:
# Write your answer here
p

                   density_km  density_mile  population     area   rank
country
Afghanistan           61.0757      158.1862  39835428.0   652230  192.0
Albania               99.9351      258.8318   2872933.0    28748   89.0
Algeria               18.7328       48.5179  44616624.0  2381741  223.0
American Samoa       276.8844      717.1307     55100.0      199   20.0
Andorra              165.2885      428.0971     77355.0      468   38.0
...                       ...           ...         ...      ...    ...
Wallis and Futuna     78.1268      202.3483     11094.0      142   15.0
Western Sahara         2.3003        5.9577    611875.0   266000  155.0
Yemen                 57.7509      149.5749  30490640.0   527968  183.0
Zambia                25.1400       65.1125  18920651.0   752612  194.0
Zimbabwe              38.6229      100.0333  15092171.0   390757  172.0

[232 rows x 5 columns]

#### Derive countries with a rating of 10,50,100,200 from DF in a separate DF

In [27]:
# Write your answer here
rows=[10,50,100,200]
p.iloc[rows,:]

                density_km  density_mile  population    area   rank
country
Aruba             595.5778     1542.5464    107204.0     180   18.0
Czech Republic    135.9862      352.2044  10724555.0   78865  115.0
Jamaica           270.5362      700.6887   2973463.0   10991   68.0
Syria              98.6916      255.6111  18275702.0  185180  144.0

### 10-TASKS. Print the population of the following countries using prime numbers:
- `Malaysia`
- `Nigeria`
- `Nepal`
- `Italy`

In [29]:
df7=p

In [30]:
df7.loc['Malaysia','population']

32776194.000000004

In [31]:
df7.population.loc['Malaysia']

32776194.000000004