<a href="https://colab.research.google.com/github/Dilshodbek23/Data-Science-and-Artificial-Intelligence/blob/main/DS_pandas_1_practice_df_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE AND ARTIFICIAL INTELLIGENCE PRACTICUM**

## Data analysis. Pandas Library.

# **PRACTICE**
## 3.1 Series va Index

### **Exercise 1**. Call the Pandas library as pd, the numpy library as np.

In [ ]:
# Write your answer here
import pandas as pd
import numpy as np

In [ ]:
#@title The correct answer
import pandas as pd
import numpy as np

### **Exercise 2.** Create a one-dimensional Series object consisting of the regions of the Republic of Uzbekistan

In [ ]:
#@title Default title text
# Write your answer here
data=np.array(['Andijon','Buxoro',"Farg'ona",'Jizzax','Xorazm','Namangan','Navoiy','Qashqadaryo',"Qoraqalpog'iston Respublikasi",'Samarqand','Sirdaryo','Surxondaryo','Toshkent'])
ser=pd.Series(data)
ser

0                           Andijon
1                            Buxoro
2                          Farg'ona
3                            Jizzax
4                            Xorazm
5                          Namangan
6                            Navoiy
7                       Qashqadaryo
8     Qoraqalpog'iston Respublikasi
9                         Samarqand
10                         Sirdaryo
11                      Surxondaryo
12                         Toshkent
dtype: object

In [ ]:
#@title **The correct answer**
obj = pd.Series(
    [
        "Andijon",
        "Buxoro",
        "Farg'ona",
        "Jizzax",
        "Xorazm",
        "Namangan",
        "Navoiy",
        "Qashqadaryo",
        "Qoraqalpog'iston Respublikasi",
        "Samarqand",
        "Sirdaryo",
        "Surxondaryo",
        "Toshkent",
    ]
)
print(obj)

0                           Andijon
1                            Buxoro
2                          Farg'ona
3                            Jizzax
4                            Xorazm
5                          Namangan
6                            Navoiy
7                       Qashqadaryo
8     Qoraqalpog'iston Respublikasi
9                         Samarqand
10                         Sirdaryo
11                      Surxondaryo
12                         Toshkent
dtype: object

### **Exercise 3.** Show all values of the Series object created above

In [ ]:
# Write your answer here
ser.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Xorazm', 'Namangan',
       'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi",
       'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent'], dtype=object)

In [ ]:
# @title **The correct answer**
obj.values

array(['Andijon', 'Buxoro', "Farg'ona", 'Jizzax', 'Xorazm', 'Namangan',
       'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi",
       'Samarqand', 'Sirdaryo', 'Surxondaryo', 'Toshkent'], dtype=object)

### **Exercise 4.** Show the first value of the Series object above

In [ ]:
# Write your answer here
ser[0]

'Andijon'

In [ ]:
# @title **The correct answer**
obj[0]

'Andijon'

### **Exercise 5.** Show the last value of the Series object above

In [ ]:
# Write your answer here
ser.values[-1]

'Toshkent'

In [ ]:
# @title **The correct answer**
obj[12]

'Toshkent'

### **Exercise 6.** Show the length of the Series object above

In [ ]:
# Write your code here
ser.size

13

In [ ]:
# @title **The correct answer**
obj.size

13

### **Exercise 7.** Show 3 values from the middle of the Series object above

In [ ]:
# Write your code here
ser[5:8]

5       Namangan
6         Navoiy
7    Qashqadaryo
dtype: object

In [ ]:
# @title **The correct answer-**

obj[[5, 6, 7]]

5       Namangan
6         Navoiy
7    Qashqadaryo
dtype: object

### **Exercise 8.** Create the following Series object.
**Pay attention. The names of the regions are used as the index of the `Series` object**

In [ ]:
# @title
ind = obj.values
aholi = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    1200000,
    2322000,
    648100,
    1676000,
    4450000,
]
obj2 = pd.Series(aholi, index=ind)
print(obj2)

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

In [ ]:
# Write your code here
data2=[1899000,1384700,2597000,910500,1200000,1862000,767500,2029000,1200000,2322000,648100,1676000,4450000]
ser2=pd.Series(data2,index=ser.values)
print(ser2)

Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

### **Exercise 9.** Exclude residents of Jizzakh, Bukhara and Namangan regions from the above Series object

In [ ]:
# Write your code here
ser2.loc[['Jizzax','Buxoro','Namangan']]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
dtype: int64

In [ ]:
# @title **The correct answer**
obj2[["Jizzax", "Buxoro", "Namangan"]]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
dtype: int64

### **Exercise 10.** Separate the regions with a population of less than 1 million and more from the above `Series` object

In [ ]:
# Write your code here
print("Provinces with a population of over 1 million")
print(ser2[ser2>1000000])
print()
print("Provinces with a population of less than 1 million")
print(ser2[ser2<1000000])

Aholisi 1 milliondan ko'p viloyatlar
Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Xorazm                           1200000
Namangan                         1862000
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

Aholisi 1 milliondan kam viloyatlar
Jizzax      910500
Navoiy      767500
Sirdaryo    648100
dtype: int64

In [ ]:
# @title **The correct answer**
print("Provinces with a population of over 1 million")
print(obj2[obj2 > 1_000_000])
# When writing large numbers in Python, 0 can be separated by "_"

Aholisi 1 milliondan ko'p viloyatlar
Andijon                          1899000
Buxoro                           1384700
Farg'ona                         2597000
Xorazm                           1200000
Namangan                         1862000
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Surxondaryo                      1676000
Toshkent                         4450000
dtype: int64

In [ ]:
# @title
print("Provinces with a population of less than 1 million")
print(obj2[obj2 < 1_000_000])

Aholisi 1 milliondan kam viloyatlar
Jizzax      910500
Navoiy      767500
Sirdaryo    648100
dtype: int64

### **Exercise 11.** Check for Navoi region among countries with a population of more than 1 million

In [ ]:
# Write your code here
ser2['Navoiy']>1_000_000

Navoiy    False
dtype: bool

In [ ]:
# @title **The correct answer**
"Navoiy" in obj2[obj2 > 1_000_000]

False

### **Exercise 12.** The following dictionary lists the provinces and their areas. Create a new `Series` object from the dictionary and name it" Zone Size "

In [ ]:
dict = {
    "Andijon": 4200,
    "Buxoro": 39400,
    "Farg'ona": 6800,
    "Jizzax": 20500,
    "Xorazm": 6300,
    "Namangan": 7900,
    "Navoiy": 110800,
    "Qashqadaryo": 28400,
    "Qoraqalpog'iston Respublikasi": 160000,
    "Samarqand": 16400,
    "Sirdaryo": 5100,
    "Surxondaryo": 20800,
    "Toshkent": 15300,
}

In [ ]:
# Write your code here
ser3=pd.Series(dict)
ser3.name='The size of the regions'
ser3

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hudular hajmi, dtype: int64

In [ ]:
#@title The correct answer
obj3 = pd.Series(dict)
obj3.name = "The size of the regions"
print(obj3)

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
Name: Hudular hajmi, dtype: int64

### **Exercise 13.** Extract the largest and smallest elements of the area from the `Series` object above

In [ ]:
# Write your code here
print("Eng katta hudud:", ser3.idxmax())
print("Eng kichik hudud:", ser3.idxmin())

Eng katta hudud: Qoraqalpog'iston Respublikasi
Eng kichik hudud: Andijon

In [ ]:
#@title The correct answer
print(f"Eng katta hudud: {obj3.idxmax()}")
print(f"Eng kichik hudud: {obj3.idxmin()}")

Eng katta hudud: Qoraqalpog'iston Respublikasi
Eng kichik hudud: Andijon

### **Exercise 14.** Subtract the population of the largest and smallest areas above

In [ ]:
type(ser2["Qoraqalpog'iston Respublikasi"])

pandas.core.series.Series

In [ ]:
type(obj2["Qoraqalpog'iston Respublikasi"])

numpy.int64

In [ ]:
# Write your code here
print(ser3.idxmax(), "aholisi", ser2[ser3.idxmax()])
print(ser3.idxmin(), "aholisi", ser2[ser3.idxmin()])

Qoraqalpog'iston Respublikasi aholisi 1200000
Andijon aholisi 1899000

In [ ]:
#@title The correct answer
print(f"{obj3.idxmax()} aholisi {obj2[obj3.idxmax()]}")
print(f"{obj3.idxmin()} aholisi {obj2[obj3.idxmin()]}")

Qoraqalpog'iston Respublikasi aholisi 1200000
Andijon aholisi 1899000

### **Exercise 15.**. Calculate the territory of the Republic of Uzbekistan from the above areas

In [ ]:
# Write your code here
ser3.sum()

441900

In [ ]:
#@title The correct answer
sum(obj3)

441900

### **Exercise 16.** Subtract the size and population of the most and least populated areas

In [ ]:
# Write your code here
print("Toshkent hududi", ser3["Toshkent"],"km, aholisi", ser2["Toshkent"])
print("Sirdaryo hydydi", ser3["Sirdaryo"], "km, aholisi", ser2["Sirdaryo"])

Toshkent hududi 15300 km, aholisi 4450000
Sirdaryo hydydi 5100 km, aholisi 648100

In [ ]:
#@title The correct answer
print(f"{obj2.idxmax()} hududi {obj3[obj2.idxmax()]}kv.km, aholisi {obj2[obj2.idxmax()]}")
print(f"{obj2.idxmin()} hududi {obj3[obj2.idxmin()]}kv.km, aholisi {obj2[obj2.idxmin()]}")

Toshkent hududi 15300kv.km, aholisi 4450000
Sirdaryo hududi 5100kv.km, aholisi 648100

### **Exercise 17.** Using the above two objects, sort the territories of the Republic of Uzbekistan first by population and then by size

In [ ]:
# Write your code here
print("Sort by area size")
print(ser3.sort_values())
print()
print("Sort by population")
print(ser2.sort_values())

Hududlar hajmi bo'yicha tartiblash
Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hudular hajmi, dtype: int64

Aholi soni bo'yicha tartiblash
Sirdaryo                          648100
Navoiy                            767500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
Farg'ona                         2597000
Toshkent                         4450000
dtype: int64

In [ ]:
#@title The correct answer
print("Sort by area size")
obj3.sort_values()

Hududlar hajmi bo'yicha tartiblash

Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
Name: Hudular hajmi, dtype: int64

In [ ]:
#@title The correct answer
print("Sort by population")
obj2.sort_values()

Aholi soni bo'yicha tartiblash

Sirdaryo                          648100
Navoiy                            767500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
Farg'ona                         2597000
Toshkent                         4450000
dtype: int64