<a href="https://colab.research.google.com/github/Dilshodbek23/Data-Science-and-Artificial-Intelligence/blob/main/DS_pandas_2_practice_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE AND ARTIFICIAL INTELLIGENCE PRACTICUM**

## Data analysis. Pandas Library.

# **PRACTICE**
## DataFrame

### **Exercise 1. Call the Pandas library as pd, the numpy library as np.

In [62]:
# Write your answer here
import pandas as pd
import numpy as np

In [63]:
#@title **The correct answer**
import pandas as pd
import numpy as np

### **Exercise 2.** Create the datafram shown below and name it `df`

In [64]:
# Write your answer here
provinces = [
    "Andijon viloyati",
    "Buxoro viloyati",
    "Fargona viloyati",
    "Jizzax viloyati",
    "Xorazm viloyati",
    "Namangan viloyati",
    "Navoiy viloyati",
    "Qashqadaryo viloyati",
    "Qoraqalpogʻiston Respublikasi",
    "Samarqand viloyati",
    "Sirdaryo viloyati",
    "Surxondaryo viloyati",
    "Toshkent viloyati",
]
centers = [
    "Andijon shahri",
    "Buxoro shahri",
    "Fargona shahri",
    "Jizzax shahri",
    "Urganch shahri",
    "Namangan shahri",
    "Navoiy shahri",
    "Qarshi shahri",
    "Nukus shahri",
    "Samarqand shahri",
    "Guliston shahri",
    "Termiz shahri",
    "Nurafshon shahri",
]
area = [
    4200,
    39400,
    6800,
    20500,
    6300,
    7900,
    110800,
    28400,
    160000,
    16400,
    5100,
    20800,
    15300,
]
population = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    1200000,
    2322000,
    648100,
    1676000,
    4450000,
]
data = {
    "Provinces":provinces,
    "Centers":centers,
    "Area":area,
    "Population":population
}
df = pd.DataFrame(data)
df

                        Provinces           Centers    Area  Population
0                Andijon viloyati    Andijon shahri    4200     1899000
1                 Buxoro viloyati     Buxoro shahri   39400     1384700
2                Fargona viloyati    Fargona shahri    6800     2597000
3                 Jizzax viloyati     Jizzax shahri   20500      910500
4                 Xorazm viloyati    Urganch shahri    6300     1200000
5               Namangan viloyati   Namangan shahri    7900     1862000
6                 Navoiy viloyati     Navoiy shahri  110800      767500
7            Qashqadaryo viloyati     Qarshi shahri   28400     2029000
8   Qoraqalpogʻiston Respublikasi      Nukus shahri  160000     1200000
9              Samarqand viloyati  Samarqand shahri   16400     2322000
10              Sirdaryo viloyati   Guliston shahri    5100      648100
11           Surxondaryo viloyati     Termiz shahri   20800     1676000
12              Toshkent viloyati  Nurafshon shahri   15300     4450000

### **Exercise 2.** Subtract 5 rows from the top of the df above

In [65]:
# Write your answer here
df.head()

          Provinces         Centers   Area  Population
0  Andijon viloyati  Andijon shahri   4200     1899000
1   Buxoro viloyati   Buxoro shahri  39400     1384700
2  Fargona viloyati  Fargona shahri   6800     2597000
3   Jizzax viloyati   Jizzax shahri  20500      910500
4   Xorazm viloyati  Urganch shahri   6300     1200000

In [66]:
#@title **The correct answer**
df.head()

          Provinces         Centers   Area  Population
0  Andijon viloyati  Andijon shahri   4200     1899000
1   Buxoro viloyati   Buxoro shahri  39400     1384700
2  Fargona viloyati  Fargona shahri   6800     2597000
3   Jizzax viloyati   Jizzax shahri  20500      910500
4   Xorazm viloyati  Urganch shahri   6300     1200000

### **Exercise 3.** Subtract 3 lines randomly from the above df

In [67]:
# Write your answer here
df.sample(3)

               Provinces           Centers   Area  Population
0       Andijon viloyati    Andijon shahri   4200     1899000
9     Samarqand viloyati  Samarqand shahri  16400     2322000
11  Surxondaryo viloyati     Termiz shahri  20800     1676000

In [68]:
#@title **The correct answer**
df.sample(3)

              Provinces         Centers   Area  Population
0      Andijon viloyati  Andijon shahri   4200     1899000
7  Qashqadaryo viloyati   Qarshi shahri  28400     2029000
1       Buxoro viloyati   Buxoro shahri  39400     1384700

### **Exercise 4.** Extract the "Area" and "Population" columns of the above df as separate views of the df.

In [69]:
# Write your answer here
df[['Area','Population']]

      Area  Population
0     4200     1899000
1    39400     1384700
2     6800     2597000
3    20500      910500
4     6300     1200000
5     7900     1862000
6   110800      767500
7    28400     2029000
8   160000     1200000
9    16400     2322000
10    5100      648100
11   20800     1676000
12   15300     4450000

In [70]:
#@title **The correct answer**
df[['Area','Population']]

      Area  Population
0     4200     1899000
1    39400     1384700
2     6800     2597000
3    20500      910500
4     6300     1200000
5     7900     1862000
6   110800      767500
7    28400     2029000
8   160000     1200000
9    16400     2322000
10    5100      648100
11   20800     1676000
12   15300     4450000

### **Exercise 5.** Display the column `Centers` from above df as a series object

In [71]:
# Write your answer here
df['Centers']

0       Andijon shahri
1        Buxoro shahri
2       Fargona shahri
3        Jizzax shahri
4       Urganch shahri
5      Namangan shahri
6        Navoiy shahri
7        Qarshi shahri
8         Nukus shahri
9     Samarqand shahri
10     Guliston shahri
11       Termiz shahri
12    Nurafshon shahri
Name: Centers, dtype: object

In [72]:
#@title **The correct answer**
df.Centers

0       Andijon shahri
1        Buxoro shahri
2       Fargona shahri
3        Jizzax shahri
4       Urganch shahri
5      Namangan shahri
6        Navoiy shahri
7        Qarshi shahri
8         Nukus shahri
9     Samarqand shahri
10     Guliston shahri
11       Termiz shahri
12    Nurafshon shahri
Name: Centers, dtype: object

### **Exercise 6.** Subtract areas with populations over 2 million from the above df

In [73]:
# Write your answer here
df[df['Population']>2_000_000]

               Provinces           Centers   Area  Population
2       Fargona viloyati    Fargona shahri   6800     2597000
7   Qashqadaryo viloyati     Qarshi shahri  28400     2029000
9     Samarqand viloyati  Samarqand shahri  16400     2322000
12     Toshkent viloyati  Nurafshon shahri  15300     4450000

In [74]:
#@title **The correct answer**
df[df.Population>2_000_000]

               Provinces           Centers   Area  Population
2       Fargona viloyati    Fargona shahri   6800     2597000
7   Qashqadaryo viloyati     Qarshi shahri  28400     2029000
9     Samarqand viloyati  Samarqand shahri  16400     2322000
12     Toshkent viloyati  Nurafshon shahri  15300     4450000

### **Exercise 7.** Subtract areas less than 10,000sq km from the above df

In [75]:
# Write your answer here
df[df.Area<10_000]

            Provinces          Centers  Area  Population
0    Andijon viloyati   Andijon shahri  4200     1899000
2    Fargona viloyati   Fargona shahri  6800     2597000
4     Xorazm viloyati   Urganch shahri  6300     1200000
5   Namangan viloyati  Namangan shahri  7900     1862000
10  Sirdaryo viloyati  Guliston shahri  5100      648100

In [76]:
#@title **The correct answer**
df[df.Area<10000]

            Provinces          Centers  Area  Population
0    Andijon viloyati   Andijon shahri  4200     1899000
2    Fargona viloyati   Fargona shahri  6800     2597000
4     Xorazm viloyati   Urganch shahri  6300     1200000
5   Namangan viloyati  Namangan shahri  7900     1862000
10  Sirdaryo viloyati  Guliston shahri  5100      648100

### **Exercise 8.** Use the first column of df as index df
Hint:
1. Or recreate df
2. Or use the `set_index()` method

In [77]:
# Write your answer here
df_new=df.set_index('Area')
df_new.head()

              Provinces         Centers  Population
Area
4200   Andijon viloyati  Andijon shahri     1899000
39400   Buxoro viloyati   Buxoro shahri     1384700
6800   Fargona viloyati  Fargona shahri     2597000
20500   Jizzax viloyati   Jizzax shahri      910500
6300    Xorazm viloyati  Urganch shahri     1200000

In [78]:
#@title **The correct answer**
df.set_index(df.columns[0], inplace=True)
df.head()

                         Centers   Area  Population
Provinces
Andijon viloyati  Andijon shahri   4200     1899000
Buxoro viloyati    Buxoro shahri  39400     1384700
Fargona viloyati  Fargona shahri   6800     2597000
Jizzax viloyati    Jizzax shahri  20500      910500
Xorazm viloyati   Urganch shahri   6300     1200000

### **Exercise 9.** From the df above, check if "Samarqand viloyati" is one of the regions with a population of over 2 million.

In [79]:
# Write your answer here
exist = "Samarqand viloyati" in df.index
print(exist)

True

In [80]:
#@title **The correct answer**
"Samarqand viloyati" in df[df.Population>2_000_000].index

True

### **Exercise 10.**  Select from the above regions only Andijan, Fergana and Namangan regions.

In [81]:
# Write your answer here
df.loc[["Andijon viloyati","Fargona viloyati","Namangan viloyati"]]

                           Centers  Area  Population
Provinces
Andijon viloyati    Andijon shahri  4200     1899000
Fargona viloyati    Fargona shahri  6800     2597000
Namangan viloyati  Namangan shahri  7900     1862000

In [82]:
#@title **The correct answer**
df.loc[["Andijon viloyati","Fargona viloyati","Namangan viloyati"]]

                           Centers  Area  Population
Provinces
Andijon viloyati    Andijon shahri  4200     1899000
Fargona viloyati    Fargona shahri  6800     2597000
Namangan viloyati  Namangan shahri  7900     1862000

### **Exercise 11.**  Subtract the population and area of Samarkand and Tashkent regions from the above df in the form of separate df

In [83]:
# Write your answer here
df.loc[["Toshkent viloyati","Samarqand viloyati"],["Area","Population"]]

                     Area  Population
Provinces
Toshkent viloyati   15300     4450000
Samarqand viloyati  16400     2322000

In [84]:
#@title **The correct answer**
df.loc[['Toshkent viloyati','Samarqand viloyati'],["Area","Population"]]

                     Area  Population
Provinces
Toshkent viloyati   15300     4450000
Samarqand viloyati  16400     2322000

### **Exercise 12.**  Create a new DataFrame df_new from the df above. Move only regions with a population of less than 1.5 million people to the new data frame.

In [85]:
# Write your answer heredf[df.Aholisi<1_500_000]
df_new

                            Provinces           Centers  Population
Area
4200                 Andijon viloyati    Andijon shahri     1899000
39400                 Buxoro viloyati     Buxoro shahri     1384700
6800                 Fargona viloyati    Fargona shahri     2597000
20500                 Jizzax viloyati     Jizzax shahri      910500
6300                  Xorazm viloyati    Urganch shahri     1200000
7900                Namangan viloyati   Namangan shahri     1862000
110800                Navoiy viloyati     Navoiy shahri      767500
28400            Qashqadaryo viloyati     Qarshi shahri     2029000
160000  Qoraqalpogʻiston Respublikasi      Nukus shahri     1200000
16400              Samarqand viloyati  Samarqand shahri     2322000
5100                Sirdaryo viloyati   Guliston shahri      648100
20800            Surxondaryo viloyati     Termiz shahri     1676000
15300               Toshkent viloyati  Nurafshon shahri     4450000

In [87]:
#@title **The correct answernswernswernswernswernswernswernswernswer**
df_new = df[df.Population<1_500_000]
df_new

                                       Centers    Area  Population
Provinces
Buxoro viloyati                  Buxoro shahri   39400     1384700
Jizzax viloyati                  Jizzax shahri   20500      910500
Xorazm viloyati                 Urganch shahri    6300     1200000
Navoiy viloyati                  Navoiy shahri  110800      767500
Qoraqalpogʻiston Respublikasi     Nukus shahri  160000     1200000
Sirdaryo viloyati              Guliston shahri    5100      648100

### **Exercise 13.**  Make sure that Navoi, Namangan and Khorezm regions are included in the new df.

In [88]:
# Write your answer here
pd.Index(["Navoiy viloyati","Namangan viloyati","Xorazm viloyati"]).isin(df_new.index)

array([ True, False,  True])

In [89]:
#@title **The correct answer**
pd.Index(['Navoiy viloyati','Namangan viloyati','Xorazm viloyati']).isin(df_new.index)

array([ True, False,  True])

### **Exercise 14.**  Exclude areas with more than 1 million inhabitants but less than 10,000 square meters. Km.

In [90]:
# Write your answer here
df2=df[df.Population>1_000_000]
df2=df2[df2.Area<10_000]
df2

                           Centers  Area  Population
Provinces
Andijon viloyati    Andijon shahri  4200     1899000
Fargona viloyati    Fargona shahri  6800     2597000
Xorazm viloyati     Urganch shahri  6300     1200000
Namangan viloyati  Namangan shahri  7900     1862000

In [91]:
#@title **The correct answer**
df[(df.Population>1_000_000) & (df.Area<10000)]

                           Centers  Area  Population
Provinces
Andijon viloyati    Andijon shahri  4200     1899000
Fargona viloyati    Fargona shahri  6800     2597000
Xorazm viloyati     Urganch shahri  6300     1200000
Namangan viloyati  Namangan shahri  7900     1862000

### **Exercise 15.**  Exclude territories with a population of less than 1 million, but an area of more than 10,000 square meters. Km.

In [92]:
# Write your answer here
df[(df.Population<1_000_000) & (df.Area>10_000)]

                       Centers    Area  Population
Provinces
Jizzax viloyati  Jizzax shahri   20500      910500
Navoiy viloyati  Navoiy shahri  110800      767500

In [93]:
#@title **The correct answer**
df[(df.Population<1_000_000) & (df.Area>10000)]

                       Centers    Area  Population
Provinces
Jizzax viloyati  Jizzax shahri   20500      910500
Navoiy viloyati  Navoiy shahri  110800      767500

### **Exercise 16.**  Drop the `Center` column from the df above

In [95]:
# Write your answer here
df.drop("Centers",axis=1)

                                 Area  Population
Provinces
Andijon viloyati                 4200     1899000
Buxoro viloyati                 39400     1384700
Fargona viloyati                 6800     2597000
Jizzax viloyati                 20500      910500
Xorazm viloyati                  6300     1200000
Namangan viloyati                7900     1862000
Navoiy viloyati                110800      767500
Qashqadaryo viloyati            28400     2029000
Qoraqalpogʻiston Respublikasi  160000     1200000
Samarqand viloyati              16400     2322000
Sirdaryo viloyati                5100      648100
Surxondaryo viloyati            20800     1676000
Toshkent viloyati               15300     4450000

In [96]:
#@title **The correct answer**
df.drop(['Centers'], axis=1)

                                 Area  Population
Provinces
Andijon viloyati                 4200     1899000
Buxoro viloyati                 39400     1384700
Fargona viloyati                 6800     2597000
Jizzax viloyati                 20500      910500
Xorazm viloyati                  6300     1200000
Namangan viloyati                7900     1862000
Navoiy viloyati                110800      767500
Qashqadaryo viloyati            28400     2029000
Qoraqalpogʻiston Respublikasi  160000     1200000
Samarqand viloyati              16400     2322000
Sirdaryo viloyati                5100      648100
Surxondaryo viloyati            20800     1676000
Toshkent viloyati               15300     4450000

### **Exercise 17.**  Subtract the population of the Syrdarya region from the above df

In [97]:
# Write your answer here
df.at["Sirdaryo viloyati","Population"]

648100

In [98]:
#@title **The correct answer**
df.at['Sirdaryo viloyati','Population']

648100

### **Exercise 18.**  Subtract the area of Bukhara region from df above

In [99]:
# Write your answer here
df.at['Buxoro viloyati','Area']

39400

In [100]:
#@title **The correct answer**
df.at['Buxoro viloyati','Area']

39400

### **Exercise 19.**  Find the percentage of the territory of Tashkent region from the Republic of Uzbekistan from the above df

In [101]:
# Write your answer here
area = df.at["Toshkent viloyati","Area"]
print(f"Toshkent viloyati maydoni: {area} kv.km")
sum_area = df['Area'].sum()
print(f"O'zbekiston Respublikasi maydoni: {sum_area} kv.km")
print(f"Toshkent viloyati maydoni O'zbekiston respublikasining {round(area*100/sum_area)}% ni tashkil qiladi")

Toshkent viloyati maydoni: 15300 kv.km
O'zbekiston Respublikasi maydoni: 441900 kv.km
Toshkent viloyati maydoni O'zbekiston respublikasining 3% ni tashkil qiladi

In [102]:
#@title **The correct answer**
tosh_area = df.at['Toshkent viloyati','Area']
uzb_area = sum(df.Area) # yoki
# uzb_area = df.Maydoni.sum()
print(f"Toshkent viloyati maydoni: {tosh_area} kv.km")
print(f"O'zbekiston Respublikasi maydoni: {uzb_area} kv.km")
print(f"Toshkent viloyati maydoni O'zbekiston respublikasining {round(tosh_area/uzb_area*100)}% ni tashkil qiladi")

Toshkent viloyati maydoni: 15300 kv.km
O'zbekiston Respublikasi maydoni: 441900 kv.km
Toshkent viloyati maydoni O'zbekiston respublikasining 3% ni tashkil qiladi

### **Exercise 20.**  Find the percentage of 'Toshkent viloyati' population from the Republic of Uzbekistan from the above df

In [103]:
# Write your answer here
tosh_ahol = df.at['Toshkent viloyati','Population']
uzb_popul = sum(df.Population) # yoki
# uzb_area = df.Maydoni.sum()
print(f"Toshkent viloyati aholisi: {tosh_ahol} kishi")
print(f"O'zbekiston Respublikasi aholisi: {uzb_popul} kishi")
print(f"Toshkent viloyati aholisi O'zbekiston respublikasining {round(tosh_ahol/uzb_popul*100)}% ni tashkil qiladi")

Toshkent viloyati aholisi: 4450000 kishi
O'zbekiston Respublikasi aholisi: 22945800 kishi
Toshkent viloyati aholisi O'zbekiston respublikasining 19% ni tashkil qiladi

In [104]:
#@title **The correct answer**
tosh_area = df.at['Toshkent viloyati','Population']
uzb_area = sum(df.Population) # yoki
# uzb_area = df.Maydoni.sum()
print(f"Toshkent viloyati aholisi: {tosh_area} kishi")
print(f"O'zbekiston Respublikasi aholisi: {uzb_area} kishi")
print(f"Toshkent viloyati aholisi O'zbekiston respublikasining {round(tosh_area/uzb_area*100)}% ni tashkil qiladi")

Toshkent viloyati aholisi: 4450000 kishi
O'zbekiston Respublikasi aholisi: 22945800 kishi
Toshkent viloyati aholisi O'zbekiston respublikasining 19% ni tashkil qiladi